.absolute-container.moveable-control-box .moveable-control.moveable-direction {
  width: 10px;
  height: 10px;
  background: #fff;
  display: block;
  box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.25);
  z-index: 20;
  border: 2px #3779e6 solid;
  border-radius: 0;
  margin-top: -5px;
  margin-left: -5px;
}