@font-face {
  font-family: "iconfont"; /* Project id 4203820 */
  src: url('iconfont.woff2?t=1691579308650') format('woff2'),
       url('iconfont.woff?t=1691579308650') format('woff'),
       url('iconfont.ttf?t=1691579308650') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31erweima:before {
  content: "\e600";
}

.icon-biaoqian:before {
  content: "\eabd";
}

.icon-xiaoxi1:before {
  content: "\e63b";
}

.icon-anniu:before {
  content: "\e690";
}

.icon-danhangshurukuang:before {
  content: "\e692";
}

